@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(179, 154, 125);
  text-align: center;
  color: rgb(85, 52, 30);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://i.pinimg.com/474x/72/54/ab/7254aba7ff6d5801925d5a641c935eb5.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(77, 54, 29);
}



